*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
background: white;
    margin: 0;
    padding: 0;
    border-top: 8px solid #f2ac04;
}

#container {
    max-width: 1000px;
    margin: auto;
}
header, #header-top {
display: flex;
flex-wrap: wrap;
}

#header-top {
    padding: 40px 0;
    width: 100%;
}

#header-text {
    padding-left: 25 px;
}

#header-text h4 {
    color: #f2ac04;
    font-size: 16px;
    text-transform: uppercase;
}

#logo {
    position:relative;
    width: 245px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: flex-end;
    padding-right: 35px;
    border-right: 1px solid #cac8c5;


}


#logo::before,#logo::after {
    content: "";
    background: #f8d277;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
    top: 13px;
}
#logo::before{
    background:#f8d277;
    position: absolute;
    left: 0;
    }
#logo::after{
    background: #f2ac04;
    position: absolute;
    left:15px;
    }


#header-menu {
width:100%;
}